<div class="totals box">
  <h2 class="title"><%= t("common.daily_hot_topics")%></h2>
  <ul>
    <% HotTopic.new.daily_hot_topics.each do |topic| %>
      <li><%= link_to topic.title, topic %></li>
    <% end %>
  </ul>
</div>
